  <% last_match = current_user.last_match %>
  <% if @shows_matchup && @shows_matchup.compact.length == 2 %>
  <% @shows_matchup = @shows_matchup.shuffle %>
  <%= form_tag({:action => 'create'}, {:id=> 'blah'}) %>
<table class="whatsbetter">
  <% if last_match %>
    <tr style="text-align:center; vertical-align:top;">
      <% last_match.each do |show| %>
        <td>
          <%= link_to(show.name, show) %><br>
      <%= render '/shows/score', show: show %>
        </td>
  <% end %>
    </tr>
  

<% end %>
  <tr><td colspan="2" style="text-align:center; vertical-align:top;">
      <%= hidden_field_tag :name, @shows_matchup[0].imdb + ':' + @shows_matchup[1].imdb %>
      <%= submit_tag( "Skip", :name => "score[0]") %>
    </td></tr>
  <tr>
    <% @shows_matchup[0..1].each_with_index do |show, i| %>
      <td class="whatsbetter" style="height: 80; width: 50; vertical-align:top">
        <%# submit_tag(i+1, :name => "score", :type => :image, :src => show.img_url) %>
        <%# submit_tag('blah', type: image, src: show.img_url, value: i+1) %>
        <%= image_submit_tag(show.img_url, name: "score[#{i+1}]") %>
        <h2 style="text-align: center"><%= link_to(show.name, show, target: "_parent") %></h2><p style="text-align: center"><%= show.subtext.gsub('|','<br>').html_safe %><br><small><%= show.popularity %></small></p>
    <% end %>
  </tr>

<% if @show && current_user.score_cache(@show.imdb).already_scored? %>
  <tr><td colspan="2" style="text-align:center"><%= link_to 'Done', @show, target: "_parent"  %></td></tr>

<script>
function myFunction() {
    window.top.location.reload();
}
</script>
<% end %>
</table>
<%end %>
