<% if @shows.length > 1 %>
  <%= form_tag({:action => 'create'}, {:id=> 'blah'}) %>
<div class="whatsbetter" width = 100%>
    <div style="text-align:center; vertical-align:top;">
      <%= hidden_field_tag :name, @shows.map(&:imdb).join(':') %>
      <%= submit_tag( "Skip", :name => "score") %>
    </div>
    <p><%= @shows[0].name %></p>
    <% @shows.each_with_index do |show, i| %>
      <div style="float: left; width: 200; height: 500">
        <%= submit_tag(i+1, :name => "score", :type => :image, :src => show.img_url) %>
        <h2 style="text-align: center"><%= link_to(show.name, show, target: "_parent") %></h2>
        <p style="text-align: center">
          <%= show.subtext.gsub('|','<br>').html_safe %><br>
          <small><%= show.popularity %></small>
        </p>
      </div>
    <% end %>
</div>

<% end %>
