
<h2>Welcome to the Show Rater!!</h2>
<table>
  <tr><td align='center'>
<iframe src="<%= rate_shows_path(shows: @shows, first_run: 1) %>" width="500" height="600" style="border:none" align='center'>
</iframe>
    </td></tr>
    <tr align='center'><td>
<%= link_to 'Generate Your Movie!', my_movie_path %>
    </td></tr>
    <tr><td>
  <%= link_to 'Generate Your TV!', my_tv_path %>
    </td></tr>
</table>
