<%#= form_tag (@whatsbetter, whatsbetter_path, :method => "PUT",  :id => "blah" ) do %>
  <%= form_tag({:action => 'create'}, {:id=> 'blah'}) %>
<table class="whatsbetter">
  <tr>
    <% @shows_matchup[0..1].each_with_index do |show, i| %>
      <td class="whatsbetter"><h2><%= show.name %></h2><br>
        <%= submit_tag(i+1, :name => "score", :type => :image, :src => show.img_url) %>
    <% end %>
  </tr>

  <tr><td colspan="2">
      <%= hidden_field_tag :name, @shows_matchup[0].imdb + ':' + @shows_matchup[1].imdb %>
      <%= submit_tag( "Skip", :name => "score") %>
      <%# submit_tag( "Skip", name:"[rs@shows&rs[]=0]") %>
    </td></tr>

</table>

