<ul>
<li><%= link_to 'Your Movie', my_movie_path %>: A generated movie listing based on your ratings.</li>
  <li> <%= link_to 'Your TV Show', my_tv_path %>: A generated tv show listing based on your ratings.</li>
  <li> Number of ratings: <%= current_user.whatsbetter.count %></li>
  <li> Shows scored: <%= current_user.favorites.count %></li>
  <li> Most suprising scores: Estimated Scores are based on how you scored a show's recommendations. Recommendations get better as more users rate. These are the shows that your score suprised us the most</li>
  <table>
    <% shows = Show.shows_sorted_by_imdb(current_user.score.suprising_rec_scores[1][0..9]) %>
    <% shows.each do |show| %>
      <tr>
        <td><%= link_to(show.name, show) %></td>
        <td>Your Score: <%= show.score(current_user).show_score %></td>
        <td>Estimated Score: <%= show.score.rec_score %></td>
      </tr>
    <% end %>
  </table>
  <li>Confusing Rankings: If <i>show a</i> beat <i>show b</i>, which beat <i>show c</i>, then surely <i>show c</i> should lose to <i>show a</i>. Sometimes it doesn't. Confused? So are we. Just pick your favorite from the following:</li>
  <table>
    <%# shows = current_user.confusing_rankings %>
    <iframe src="<%= rate_confusing_path %>" width="700" height="600" style="border:none">
</iframe>
  </table>
</ul>

