<%= form_for(recommend) do |f| %>
  <% if recommend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recommend.errors.count, "error") %> prohibited this recommend from being saved:</h2>

      <ul>
      <% recommend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first %>
    <%= f.text_area :first %>
  </div>

  <div class="field">
    <%= f.label :second %>
    <%= f.text_area :second %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
