<p id="notice"><%= notice %></p>

<p>
  <strong>First:</strong>
  <%= @recommend.first %>
</p>

<p>
  <strong>Second:</strong>
  <%= @recommend.second %>
</p>

<%= link_to 'Edit', edit_recommend_path(@recommend) %> |
<%= link_to 'Back', recommends_path %>
