<% a_show = Show.person_by_imdb(person, @show)%>
<% a_show.show_type = job %>
<%= image_tag(a_show.img_url) if a_show.img_url != 'internet error' %>
<%# link_to a_show.name, shows_path(actor: person) %>
<%= link_to a_show.name, a_show %>
<%= a_c = a_show.score(current_user).show_score.to_i; a_c if a_c > -1 %> |
