<% to_update = true unless to_update == false %>
<% score = show.score(current_user) %>
<% rec_score = to_update ? (score.rec_score ? score.rec_score.to_s : '?') : (score[:rec_score] ? score[:rec_score].to_s : '?')  %>
<% rec_score = '?' if rec_score == '-1' %>
<table><tr height=0>
<% if score.already_scored?(to_update) %>
  <td>
  <strong>Your Score: </strong>
  <%= link_to(score.show_score.to_i, show_why_path(show: show.imdb)) %>
  </td>
  <% if current_user.id == 3 %>
      <td>
        <%= rec_score %>
      </td>
  <% end %>
<% else %>
  <td style="padding: 0">
  <%= link_to('Estimated Score: ' + rec_score, show_why_path(show: show.imdb)) %>
  </td>
  <% if current_user.id == 3 %>
      <td>
        <%= score.show_score.to_i %>
      </td>
  <% end %>
<% end %>
  </tr></table>
