<%
    genres = ["Horror", "Reality-TV", "Sport", "Action", "Mystery", "Thriller", "News", "Family", "Comedy", "Adventure", "Talk-Show", "Crime", "History", "Documentary", "Romance", "Drama", "Fantasy", "Music", "Short", "Western", "Musical", "Sci-Fi", "Animation", "Biography", "War", "Game-Show", "Adult"]
  %>

<ul>
<% genres.each do |genre| %>
  <li> <%= link_to(genre, genre_path(genre: genre) ) %> </li>
<% end %>
</ul>

