<%#
  heading = '' unless @qury
  heading ||= if @qury[0..1] == 'tt'
              ['<a href="/shows/imdb_search_title?q=', @qury, '">search imdb</a>'
        ].join
            else
              ['<img height="100" src="', Show.show_by_imdb(@qury).img_url,
               '">', "<a href=/shows/#{@qury.html_safe}?limit=100>search deeper</a>",'<a href="/shows/imdb_search_title?q=', @qury,
              '">search imdb</a>'].join
            end
          %>


        <% to_update = false %>
<table>
  <tr>
    <% if @show && @show.img_url %>
    <td><%= image_tag(@show.img_url, height: "100", alt: "") %></td>
  <% end %>
    <% if @show && @show.imdb[0..1] == 'nm' %>
    <td><%= link_to('Search Deeper', show_path(id: @show.imdb, limit: 100)) %></td>
  <% end %>
  <% if @show || @qury %>
    <td><%= link_to('Search IMDB', imdb_search_title_path(q: (@qury || @show.imdb))) %></td>
  <% end %>
  </tr>
</table>
  <% if @heading %><h1><%=@heading%></h1>
<% else %><h1>Shows</h1>
<% end %>

<table>
  <thead>
    <tr>
      <th colspan="2">Name</th>
      <th>Imdb</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shows.each do |show| %>
      <%# next unless show.img_url %>
      <tr>
        <td> <%= image_tag(show.img_url, height: "40", alt: "") if show.img_url %> </td>
        <td><%= link_to show.name, show %></td>
        <td>
          <% unless show.imdb.nil? %> 
            <%= link_to show.imdb, 'http://www.imdb.com/title/' + show.imdb %> 
          <% else %>
            <%= form_for show do |f| %>
              <%= f.text_area :imdb %>
              <%= f.submit 'add imdb' %>
            <% end %>
          <% end %>
        </td>
        <td><%= show.show_type %></td>
        <td><%= show.subtext %></td>
        <td>
          <%= render '/shows/score', show: show, current_user: current_user, to_update: to_update %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# render '/whatsbetter/rate', show: @shows.shuffle[0] %>
<% unless @shows.empty? || @shows[0].imdb[0..1] == 'nm' %>
  <iframe src="<%= rate_shows_path(shows: @shows.to_a[0..50]) %>" width="700" height="600" style="border:none">
</iframe>
<% end %>
<br>
<%= link_to 'More', request.query_parameters.merge(offset: @offset + 1) if @offset %>
