<table>
  <tr>
    <th>name</th>
    <th>score</th>
    <th>won against</th>
    <th>won against count (<%= @show.score(current_user).total_wins.count %>)</th>
  </tr>
  <% @show.score(current_user).won_against.map { |imdb| Show.show_by_imdb(imdb) }.sort_by{ |show| show.score(current_user).show_score}.each do |a_show| %>
  <tr>
    <%# a_show = Show.show_by_imdb(a_imdb) %>
    <td><%= link_to(a_show.name, a_show) %></td>
    <td><%= a_show.score(current_user).show_score %></td>
    <td><%= a_show.score.won_against %></td>
    <td><%= a_show.score.won_against.length %></td>
  </tr>
<% end %>
</table>
<table>
  <tr>
    <th>name</th>
    <th>score</th>
    <th>lost against</th>
    <th>lost against count(<%= @show.score(current_user).total_losses.count %>)</th>
  </tr>
  <% @show.score(current_user).lost_against.map { |imdb| Show.show_by_imdb(imdb) }.sort_by{ |show| show.score(current_user).show_score}.each do |a_show| %>
  <tr>
    <td><%= link_to(a_show.name, a_show) %></td>
    <td><%= a_show.score(current_user).show_score %></td>
    <td><%= a_show.score.lost_against %></td>
    <td><%= a_show.score.lost_against.length %></td>
  </tr>
<% end %>
</table>
