<p id="notice"><%= notice %></p>

<div>
  <div style="float: left; padding: 20px">
<%= image_tag(@show.img_url, height: "200", alt: "") if @show.img_url %>
  </div>
  <h1><%= @show.name %></h1>
  </div>
</div>
<p>
  <strong>Imdb:</strong>
  <%= link_to @show.imdb, 'http://www.imdb.com/title/' + @show.imdb %><br>
  <%= link_to 'cache', imdb_cache_path(id: @show.imdb) if current_user.id == 3 %>
  <strong><%= @show.rating %></strong>
  <small><%= @show.popularity %></small><br>
<small><%= @show.certificate %></small>
</p>
<p> <%= @show.external_links %></p>
<p><%= @show.subtext %></p>
<p>
  <%= @show.description %>
</p>

<p>
  <%= render '/shows/score', show: @show %>
</p>

<p>
<%= @show.genres %><br>
<%= link_to('all genres', all_genres_path) %>
</p>

<% t = Time.now %>
<p>
  <strong>Actors:</strong>
  <% @show.actors[0..2].each do |person| %>
    <%= render '/shows/people', person: person, job: 'actors' %>
  <% end %>
</p>
<% if @show.show_type == 'TV' %>
<p>
  <strong>Writing:</strong>
  <% @show.writing[0..2].each do |person| %>
    <%= render '/shows/people', person: person, job: 'writing' %>
  <% end %>
</p>

<% else %>
<p>
  <strong>Directed by:</strong>
  <% @show.directed[0..2].each do |person| %>
    <%= render '/shows/people', person: person, job: 'directed' %>
  <% end %>
</p>
<% end %>

<p>
  <%= link_to 'Full Cast & Crew', full_cast_path(id: @show.imdb) %>
</p>
  <h2>Recommends:</h2>
  <% unless @show.imdb[2..3] == 'my' %>
  <p>
  <%= link_to 'Get More!', user_mining_path(id: @show.imdb) %>
  </p>
<% end %>
<table>
  <% Show.shows_by_imdb(@show.recommend).to_a.uniq.each do |rec_show| %>
  <tr>
    <td>
      <% rec_show.name unless rec_show[:name] %>
      <%= link_to rec_show[:name], rec_show %></td>
    <td style="padding: 0">
      <%= render '/shows/score', show: rec_show %>
    </td>
  </tr>
<% end %>
</table>
  <h2>Back Links:</h2>
<table>
  <% Show.shows_by_imdb(@show.back_recommend - @show.recommend).each do |rec_show| %>
  <tr>
    <td>
      <% rec_show.name unless rec_show[:name] %>
      <%= link_to rec_show[:name], rec_show %></td>
    <td style="padding: 0">
      <%= render '/shows/score', show: rec_show %>
    </td>
  </tr>
<% end %>
</table>


<table>
  <p>Lost Against: <%= @show.score(current_user).lost_against.count %></p>
  <% Show.shows_by_imdb(@show.score(current_user).lost_against[0..50]).each do |whats_show| %>
    <tr>
      <td><%= link_to whats_show.name, whats_show %></td>
    <td>
      <%= render '/shows/score', show: whats_show %>
    </td>
      <td><%= link_to "Delete", whatsbetter_path(id: 0, first: whats_show.imdb, second: @show.imdb), :method => :delete, :class => "delete", :confirm => "Are you sure ?"%>  </td>
    </tr>
  <% end %>
</table>

<table>
  <p>Won Against: <%= @show.score(current_user).won_against.count %></p>
  <% Show.shows_by_imdb(@show.score(current_user).won_against).each do |whats_show| %>
    <tr>
      <td><%= link_to whats_show.name, whats_show %> </td>
    <td style="padding: 0">
      <%= render '/shows/score', show: whats_show %>
    </td>
      <td><%= link_to "Delete", whatsbetter_path(id: 0, first: @show.imdb, second: whats_show.imdb), :method => :delete, :class => "delete", :confirm => "Are you sure ?"%>  </td>
    </tr>
  <% end %>
</table>


<table>
  <td>Skip Count</td> <td><%= current_user.score_cache(@show.imdb).skipped_against.count %></td><td><%= link_to 'Clear Skips', clear_skips_path(imdb: @show.imdb) %></td>
</table>


<% @rate_path ||= rate_show_path(show: @show) %>
<iframe src="<%= @rate_path %>" width="700" height="600" style="border:none">
</iframe>
<% if @show.imdb[2..3] == 'my' %>
<iframe src="<%= rate_group_path(shows: @show.score.won_against) %>" width="700" height="600" style="border:none">
</iframe>
<% end %>

<%= link_to 'Back', shows_path %>
