<%#
require 'ruby-prof'
RubyProf.start
%>
<!DOCTYPE html>
<html>
  <head>
    <title>TvShowRecommender</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if logged_in? %>
      <%= link_to current_user.name, current_user %>, <%= link_to 'log out', logout_path, method: :delete %>
    <% end %>
  </head>

  <body>
    <%= @notice if @notice %>
    <% if ApplicationRecord.errors.any?  %>
      <ol>
      <% ApplicationRecord.errors_show.each do |error| %>
        <li><%= error %></li>
      <% end %>
      </ol>
    <% end %>

    <table><tr>
        <td><%= link_to 'TV Today', tv_tonight_path %></td>
        <td><%= link_to 'TV Last Week', tv_tonight_path(start_date: ApplicationRecord.todays_date(-7), end_date: ApplicationRecord.todays_date(-1)) %></td>
        <td><%= link_to 'TV Next Week', tv_tonight_path(start_date: ApplicationRecord.todays_date(1), end_date: ApplicationRecord.todays_date(7)) %></td>
    </table>
<div>
  <%= form_tag '/shows', method:"get" do %>
    <%= text_field_tag :q %>
    <%= submit_tag 'search' %>
  <% end %>
</div>

    <%= yield %>
    <ul>
      <li><%= link_to 'TV Tonight', tv_tonight_path %></li>
      <li><%= link_to 'New DVD', dvd_path %></li>
      <li><%= link_to 'Rate Top TV', whatsbetter_top_rated_path %></li>
      <li><%= link_to 'Rate Top Movies', whatsbetter_top_rated_movies_path %></li>
  </body>
</html>

<%#
results = RubyProf.stop

File.open "#{::Rails.root}/tmp/profile-graph.html", 'w' do |file|
    RubyProf::GraphHtmlPrinter.new(results).print(file)
end

File.open "#{::Rails.root}/tmp/profile-flat.txt", 'w' do |file|
    RubyProf::FlatPrinter.new(results).print(file)
end

# File.open "#{::Rails.root}/tmp/profile-tree.prof", 'w' do |file|
#     RubyProf::CallTreePrinter.new(results).print(file)
# end
%>
